
.bg-image{
    background-image: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
        ),url('./public/images/home/grocery.jpg');
}
.bg-image1{
    background-image: linear-gradient(
        rgba(2, 48, 142,0.8),
        rgba(2, 48, 142,0.8)
        ),url('./public/images/home/medicine.jpg');
}
.bg-image2{
    background-image: linear-gradient(
        rgba(68, 2, 76,0.8),
        rgba(68, 2, 76,0.8)
        ),url('./public/images/home/food.jpg');
}
.bg-image3{
    background-image: linear-gradient(
        rgba(93, 105, 39,0.8),
        rgba(93, 105, 39,0.8)
        ),url('./public/images/home/pet.jpg');
}
.bg-image4{
    background-image: linear-gradient(
        rgba(16, 69, 74,0.9),
        rgba(16, 69, 74,0.9)
        ),url('./public/images/home/fish.jpg');
}

.bg-image5{
    background-image: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
        ),url('./public/images/home/deli.jpg');
}

.bg-image6{
    background-image: linear-gradient(
        rgba(16, 67, 26,0.9),
        rgba(16, 67, 26,0.9)
        ),url('./public/images/home/cart.jpg');
}